@{
    ViewData["Title"] = "Index";
}
<h1>Employees API</h1>
<h3>Bem vindo</h3>
<p>Experimente chamar via URL /api..</p>

<p>Experimente ler a documentação da API:</p>
<a href="/swagger">Clique aqui</a>